.bball-1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(192, 83, 5);
    border: 3px solid black;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    animation-name: bounce;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out;  */
}
@keyframes bounce{
    0%{margin-top: 100px; transform: scale(1,1); animation-timing-function: ease-in}
    40%{transform: scale(1,1); animation-timing-function:ease-out}
    50%{margin-top: 400px; transform: scale(1,0.9); animation-timing-function:ease-out}
    60%{transform: scale(1,1); animation-timing-function:ease-out}
    100%{margin-top: 100px; transform: scale(1,1); animation-timing-function:ease-out}
}
.line-1{
    width: 150px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    margin-top: 90px;
    right: 30px;
}
.line-2{
    width: 180px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    margin-top: -40px;
    left: 15px;
}
.line-3{
    width: 150px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    left: 40px;
}
.line-4{
    width: 500px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    margin-top: 47px;
    right: 5px;

}
